<% if(success && success.length) { %>
    <div class="app-flash app-flash-success alert alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-circle-check" aria-hidden="true"></i>
        <span><%= success %></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>


<% if(error && error.length) { %>
    <div class="app-flash app-flash-error alert alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-circle-exclamation" aria-hidden="true"></i>
        <span><%= error %></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
